body {
    background-color: #1b1b1d;
}
.head{
        border-bottom: 1px solid #0e0d0d;
        border-width: 1px;
        font-size: 26px;
        font-weight:bold;
        letter-spacing: -0.14px;
        height: 50px;
        margin-block-end: 0px;
        margin-block-start: 0px;
        margin-inline-end: 0px;
        margin-inline-start: 0px;
        width: 674px;
        background-color: #1b1b1d;
        color: #fff;
        font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
        padding-top:10px;
}
.chart {
        font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
        font-style: normal;
        font-weight:500;
        
}
.chartArea {
    fill:#1b1b1d;
}

.infoBox {
    fill:#182b27;
    opacity:0.5;
}
.infoBoxText {
    
    font-size:8px;
    fill: #cbcbcd;
}
.volumeText {
    font-size: 13px;
    fill: #ffffff;
}

.bar {
    stroke: #0e0d0d;
}

.grayLine {
    stroke: #8c8c8e;
}

.differenceText {
    font-weight:bold;
}

.rightNowText {
    font-size:13px;
}

.textBottom {
    letter-spacing: 0.25px;
    font-size  : 12px;
    fill       : #cbcbcd;
}

.averageText {
    font-weight:bold;
    font-size  : 13px;
    fill :#ffffff;
}
